@appWidth: 500px;
@appHeight: 500px;

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.start {
    border: 1px solid #aaa;
    padding: 20px;

    .button-group {
        margin: 0 auto;
        text-align: center;

        button {
            padding: 5px;
            font-size: 24px;
            margin: 5px;
            border-radius: 5px;
            background-color: #fff;
            color: #666;
            border: 1px solid #aaa;
            min-width: 40px;

            &.selected {
                border: 5px solid #ff00f5;
                color: #000;
                padding: 2px;
            }
        }

        &.images button {
            padding: 0;

            img {
                display: block;
                max-width: 100px;
                max-height: 100px;
            }
        }
    }
}

.winner {
    width: @appWidth;
    height: @appHeight;
    position: relative;

    h1 {
        position: absolute;
        bottom: -2.5em;
        left: 25%; right: 25%;
        text-align: center;
        padding: 5px;
        color: white;
        background-color: #999;
        border-radius: 2px;
    }
}

.squares {
    width: @appWidth;
    height: @appHeight;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 0 5px #555555;

    > div {
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: 500px 500px;
        box-shadow: 0 0 0 1px rgba(255,255,255,0.75) inset;
        font-size: 24px;
        text-align: center;
        position: relative;
        transition: transform 75ms ease-in-out;
    }

    &.squares-3 > div {
        flex: 0 0 33.3333%;
        height: 33.3333%;
    }

    &.squares-4 > div {
        flex: 0 0 25%;
        height: 25%;
    }

    &.squares-5 > div {
        flex: 0 0 20%;
        height: 20%;
    }

    &.squares-6 > div {
        flex: 0 0 16.6666%;
        height: 16.6666%;
    }

    &.squares-7 > div {
        flex: 0 0 14.2857%;
        height: 14.2857%;
    }

    &.squares-8 > div {
        flex: 0 0 12.5%;
        height: 12.5%;
    }
}

.controls {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    align-items: center;

    button {
        font-size: 20px;
        border-radius: 5px;
        padding: 5px 10px;
    }
}

.dpad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10vmin;
    width: 60vmin;
    flex-wrap: wrap;

    > div {
        text-align: center;

        &.up, &.down {
            width: 100%;
        }
        &.left, &.right {
            width: 50%;
        }
    }
}