@puzzleSize: calc(100vmin - 20px);

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
}

#root {
    max-width: 800px;
    margin: 0 auto;
}

.start {
    padding: 20px;
    display: flex;
    flex-flow: column wrap;

    .button-group {
        flex: 1;
        display: flex;
        text-align: center;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }

        h3 {
            flex: 1 0 100%;
            margin: 10px 0 0 0;
        }

        button {
            padding: 5px;
            font-size: 24px;
            margin: 5px;
            border-radius: 5px;
            background-color: #fff;
            color: #666;
            border: 2px solid #aaa;

            &.selected {
                border: 5px solid #ff00f5;
                color: #000;
                margin: 2px;
            }
        }

        &.images button {
            padding: 0;

            img {
                display: block;
                max-width: 80px;
                max-height: 80px;
            }
        }
    }
}

.winner {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute !important;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    h1 {
        text-align: center;
        padding: 5px;
        color: #000;
        background-color: rgba(255,255,255,0.5);
        border-radius: 2px;
    }
}

.puzzle {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    height: 100vh;
    position: relative;
}

.squares {
    width: @puzzleSize;
    height: @puzzleSize;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 0 5px #555555;
    margin: 10px;
    position: relative;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: 500px 500px;
        box-shadow: 0 0 2px rgba(50,50,50,0.25) inset, 0 0 2px rgba(255,255,255,0.75) inset;
        font-size: 5vmin;
        text-align: center;
        align-self: center;
        position: relative;
        transition: transform 75ms ease-in;
    }
}

.controls {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    align-self: stretch;
    margin: 20px 10px;

    .buttons {
        align-self: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    button {
        font-size: 18px;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 5px 10px;
        min-width: 100px;
    }
}

.dpad {
    display: flex;
    align-self: center;
    font-size: 10vmin;
    flex-wrap: wrap;

    > div {
        text-align: center;

        &.up {
            width: 100%;
            align-self: flex-end;
        }
        &.down {
            width: 100%;
            align-self: flex-start;
        }
        &.left {
            width: 50%;
            text-align: left;
        }
        &.right {
            width: 50%;
            text-align: right;
        }
    }
}

@media (orientation: portrait) {
    .puzzle {
        flex-flow: column wrap;
    }
}